.todos {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-radius: 4px;
  width: 30%;
  background-color: white;
  z-index: 100;
}
.item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;

}


input[type="text"] {
  border: none;
  text-align: center;
  width: 70%;
  padding: 0.5rem;
}
input[type="text"]:focus {
  outline: none;
 
}

button {
  background: tomato;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-left: 1rem;
}
h1 {
  text-align: center;
  padding: 0.5rem 0;
  background: tomato;
  color: white;
  width: 30%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-radius: 4px;
}
