

.todos {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-radius: 4px;
  width: 30%;
  background-color: white;
  z-index: 100;
}

.item {
  display: flex;
  align-items: center;
}

form.item {
  text-align: center;
  /* margin-left: 1.25rem; */
  padding: 1.25rem 0;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: tomato;
}

input[type="checkbox"] {
  margin: 1.25rem;
}

hr {
  line-height: 10px;
  border: 2px solid dotted;
  width: 100%;
}
